<div class="abas">
    <div
    id="tabs-381787046"
    class="dds__tabs dds__tabs--mobile-justified"
    data-dds="tabs"
  >
    <div class="dds__tabs__list-container">
      <ul
        class="dds__tabs__list dds__tabs__list--overflow"
        role="tablist"
        aria-orientation="horizontal"
      >
        <li
          style="width: 33.33%; justify-content: space-around"
          role="none"
        >
          <button
            id="tab-mobile-just-0"
            class="dds__tabs__tab"
            role="tab"
            aria-controls="tab-mobile-just-0-pane"
            aria-selected="true"
            tabindex="0"
            style="width: 100%; max-width: 100%"
          >
            <span class="dds__tabs__tab__label" title="Tab 1"
              >A Fazer</span
            >
          </button>
        </li>
        <li style="width: 33.33%" role="none">
          <button
            id="tab-mobile-just-1"
            class="dds__tabs__tab"
            role="tab"
            aria-controls="tab-mobile-just-1-pane"
            aria-selected="false"
            tabindex="-1"
            style="width: 100%; max-width: 100%; align-content: center"
          >
            <span class="dds__tabs__tab__label" title="Tab 2"
              >Feitos</span
            >
          </button>
        </li>
        <li style="width: 33.33%" role="none">
          <button
            id="tab-mobile-just-2"
            class="dds__tabs__tab"
            role="tab"
            aria-controls="tab-mobile-just-2-pane"
            aria-selected="false"
            tabindex="-1"
            style="width: 100%; max-width: 100%"
          >
            <span class="dds__tabs__tab__label" title="Tab 3">Todos</span>
          </button>
        </li>
      </ul>
    </div>
    <div class="dds__tabs__pane-container">
      <div
        id="tab-mobile-just-0-pane"
        class="dds__tabs__pane"
        role="tabpanel"
        tabindex="0"
        aria-labelledby="tab-mobile-just-0"
        aria-hidden="false"
        style="height: 1px;"
      ></div>
      <div
        id="tab-mobile-just-1-pane"
        class="dds__tabs__pane"
        role="tabpanel"
        tabindex="-1"
        aria-labelledby="tab-mobile-just-1"
        aria-hidden="true"
        style="height: 1px;"
      ></div>
      <div
        id="tab-mobile-just-2-pane"
        class="dds__tabs__pane"
        role="tabpanel"
        tabindex="-1"
        aria-labelledby="tab-mobile-just-2"
        aria-hidden="true"
        style="height: 1px;"
      ></div>
    </div>
  </div>
</div>